<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/app.css">
	<link rel="stylesheet" type="text/css" href="/AllStyle.css">
</head>
<body>
	
	<div class="header head">
		<div class="container">
			<nav class="navbar">
			    <div class="container-fluid">
			  	    <div class="navbar-header">
			        	<img class="logo" src="/logo.png">
				    </div>
				    <ul class="nav navbar-nav pull-right">
					    <li class="active"><a href="home.ejs">HOME</a></li>
					    <li><a href="#">ABOUT US</a></li>
					    <li><a href="product.ejs">PRODUCTS</a></li>
					    <li><a href="#">SERVICES</a></li>
					    <li><a href="#">CONTACT US</a></li>
				    </ul>
			  	</div>
			</nav>
			
		</div>
	</div>