<% include partials/header%>


	<div>	
		<div class="header">
			<div class="same">
				<div class="">
					<img class="img1" src="/sl4.jpg">
				</div>
			</div>
			<div class="one">
				<div class="container two">
					<div class="">
						<p>Our Products</p>
						<hr>	
					</div>
					<div class="">
						<div class="col-sm-3">
							<div class="images1 img">
								<img src="/Use_Lead Generation.jpg">
							</div>
							<div class="imgCnt1">
								<div><span>Lead2Me</span></div><br>
								<p>
									A cloud based solution for Salesforce.com Sales cloud built on Force.com platform. It empowers Sales Operations Managers to have full control
								</p>
								<div><a href="#">Read Me</a></div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="images2 img">
								<img src="/Use_ireference.jpg">
							</div>
							<div class="imgCnt2">
								<div><span>IReference</span></div><br>
								<p>
									Customer Reference has become one of the key differentiators and influencers in closing deals. With the active co-operation
								</p>
								<div><a href="#">Read Me</a></div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="images3 img">
								<img src="/Use_Icare.jpg">
							</div>
							<div class="imgCnt3">
								<div><span>IConsulting</span></div><br>
								<p>
									The needs of small and medium consulting companies were never addressed as thoroughly by any other tool as in our cTela iConsulting.
								</p>
								<div><a href="#">Read Me</a></div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="images4 img">
								<img src="/Use_Consulting.png">
							</div>
							<div class="imgCnt4">
								<div><span>ICare</span></div><br>
								<p>
									A cloud based solution on Force.com for managing LTC (Long Term Care) hospital leads. The first and only application for LTCH lead management.
								</p>
								<div><a href="#">Read Me</a></div>
							</div>
						</div>
					</div>				
				</div>

			</div>
			<div>
				<div class="container three ">
					<div class="">
						<p>Our Services</p>
						<hr>	
					</div>
					<div class="">
						<div class="col-sm-3">
							<div class="images1 img">
								<img src="/holding.jpg">
							</div>
							<div class="imgCnt1">
								<div><span>Data Management</span></div><br>
								<p>
									Managing the data is key to catapult lead generation, marketing and data planning strategies for businesses.
								</p>
								<div><a href="#">Read Me</a></div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="images2 img">
								<img src="/Use_ireference.jpg">
							</div>
							<div class="imgCnt2">
								<div><span>Big Data Consulting</span></div><br>
								<p>
									Data Sets that once thought as extremely complex to process due to Velocity, Veracity and Volume and as not a treasure trove, are now the key differentiator in driving business decisions. This "Big Data" provides critical insights that provides tangible results on RoI and cost effectiveness
								</p>
								<div><a href="#">Read Me</a></div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="images3 img">
								<img src="/Use_Icare.jpg">
							</div>
							<div class="imgCnt3">
								<div><span>Service Offerings</span></div><br>
								<p>
									Do you agree the fact that your Website design is a reflection of your business? Do you need a web page design that portraits your business strategy? If so, you are at the right place to find the leader in web design! 
								</p>
								<div><a href="#">Read Me</a></div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="images4 img">
								<img src="/Use_Consulting.png">
							</div>
							<div class="imgCnt4">
								<div><span>Infrastructure Support</span></div><br>
								<p>
									With deep and varied technology experience across disparate industries, we have blossomed into a team that offers system design, automation, migrations, remote administration
								</p>
								<div><a href="#">Read Me</a></div>
							</div>
						</div>
					</div>				
				</div>

			</div>
		</div>	
	</div>
	
	
	<% include partials/footer%>