<% include partials/header %>

<div class="pro">
	<div class="container">
		<div class="ProHead mt20">
			<div>
				<div>
					<span>Products</span>
				</div>
			</div>
				<!------------------  -->
			<div class="Pone mt50">
				<div class="p1">
					<div class="col-sm-4">
						<div class="Pimg">
							<img src="/Use_Lead Generation.jpg">
						</div>
					</div>				
					<div class="col-sm-8">				
						<div>
							<div><span>Lead2Me</span></div><br>
							<p>
								A cloud based solution for Salesforce.com Sales cloud built on Force.com platform. It empowers Sales Operations Managers to have full control on defining territories and lead assignment. Our tool allows any combination of attributes of lead or account to define assignment from the UI.
								*Lead2Me is the registered trademark of cTela, Inc.
							</p>					
						</div>
					</div>
					
				</div>
				<hr>											
				<!------------------  -->
				<div class="p1">
					<div class="col-sm-8">
						<div><span>IReference</span></div><br>							
						<div class="">					
							<p>
								Customer Reference has become one of the key differentiators and influencers in closing deals. With the active co-operation of corporate clients who have been using customer reference we have built the best in class customer reference application making customer reference efforts quantifiable and trackable in real time. Customer Reference Managers now can confidently present their budgets to the top management and provide metrics to show their efforts in winning and closing deals!
							</p>					
						</div>
					</div>			
					<div class="col-sm-4">
						<div class="Pimg">
							<img src="/Use_ireference.jpg">
						</div>
						
					</div>
														
				</div>
				<hr>
				<!------------------  -->
				<div class="p1">			
					<div class="col-sm-4">
						<div class="Pimg">
							<img src="/Use_Consulting.png">
						</div>
					</div>
					<div class="col-sm-8">
						<div class="">
							<div><span>IConsulting</span></div><br>
							<p>
								The needs of small and medium consulting companies were never addressed as thoroughly by any other tool as in our cTela iConsulting. cTela iConsulting automates the entire operations of SMB consulting companies and frees the owner and his staff from spending countless hours in managing and searching for resume' in the desktops and database, applying for H1 and Green Card and keeping track of H1 expiry dates, corresponding with the CPAs and Attorneys to concentrate on placement and growing business.
								cTela iConsulting is ideal for small consulting companies that run on tight budget.
							</p>					
						</div>
					</div>
															
				</div>
				<hr>
				<!------------------  -->
				<div class="p1">			
					<div class="col-sm-8">				
						<div><span>ICare</span></div><br>					
							<p>
								A cloud based solution on Force.com for managing LTC (Long Term Care) hospital leads. The first and only application for LTCH lead management.
							</p>									
					</div>
					<div class="col-sm-4">				
						<div class="Pimg">
							<img src="/Use_Icare.jpg">
						</div>
					</div>									
				</div>
			</div>
		</div>
	</div>
	</div>

<% include partials/footer%>